/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-image: url("background.jpg");
	-fx-background-size: contain;
	-fx-background-position: left; 
	-fx-background-repeat: no-repeat;
}

.sidebar {
	-fx-background-color: #336699;
	/* -fx-opacity: 0.5; */
}

#sidebar-textbox {
    -fx-font: 12px Tahoma;
    -fx-orientation: left;
}


#Calender {
}
#Task {
}

#Today{
}










