/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-image: url("background.jpg");
	-fx-background-size: contain;
	-fx-background-position: left; 
	-fx-background-repeat: no-repeat;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.sidebar {
	-fx-background-color: #336699;
	/* -fx-opacity: 0.5; */
}

#sidebar-textbox {
    -fx-font: 12px Tahoma;
    -fx-orientation: left;
}

#fancytext {
    -fx-font: 15px Tahoma;
    -fx-fill: black;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1; */
}


#Calender {
}
#Task {
}

#Today{
}

#taskScroll {
	-fx-background-color: transparent;
}

#taskVbox {
	-fx-background-color: rgba(0, 0, 0, 0.3);
}

#logScroll {
	-fx-background-color: transparent;
}

#logVbox {
	-fx-background-color: rgba(0, 0, 0, 0.3);
}







