/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-image: url("background.jpg");
	-fx-background-size: contain;
	-fx-background-position: left; 
	-fx-background-repeat: no-repeat;
	-fx-font-size: 12pt;
    -fx-font-family: "Sans Serif";
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.sidebar {
	-fx-background-color: #336699;
	/* -fx-opacity: 0.5; */
}

.list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: rgba(0, 0, 0, 0.1);/*-fx-control-inner-background;*/
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
} .list-cell:empty {
    -fx-opacity: 0;
} .list-cell:odd {
    -fx-background-color: rgba(0, 0, 0, 0.3);/*derive(-fx-control-inner-background,-5%);*/
}

#sidebar-textbox {
    /*-fx-font: 12px Tahoma;*/
    -fx-orientation: left;
}

#fancytext {
    -fx-font: 15px Helvetica;
    -fx-fill: black;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1; */
}


#Calender {
}
#Task {
}

#Today{
}

#taskScroll {
	-fx-background-color: transparent;
}

#taskList {
	-fx-background-color: transparent;/*rgba(0, 0, 1, 0.3);*/
}

#logScroll {
	-fx-background-color: transparent;
}

#logVbox {
	-fx-background-color: rgba(0, 0, 0, 0.3);
}







