/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	/*-fx-background-image: url("background.jpg");*/
	-fx-background-size: contain;
	-fx-background-position: left; 
	-fx-background-repeat: no-repeat;
	-fx-font-size: 12pt;
    -fx-font-family: "Sans Serif";
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.bottombar {
	-fx-background-color: #336699;
	/**/ -fx-opacity: 0.92; /**/
}

.list-cell {
	-fx-border-radius: 5 5 5 5;
  	-fx-background-radius: 10 10 10 10;
    -fx-border-color:pink;
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";*/
    -fx-background-color: #f2f2f2; /*rgba(167, 152, 83, 0.8); /*-fx-control-inner-background;*/
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
} .list-cell:empty {
    -fx-opacity: 0;
} .list-cell:odd {
    -fx-background-color: #BBBBBB; /*rgba(243, 233, 185, 0.8); /*derive(-fx-control-inner-background,-10%);*/
    -fx-text-fill: white;
} .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: red;
} .list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
} .list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.transparent {
    -fx-font-family: "Sans Serif";
	-fx-background-color: transparent;
}

.fancytext {
    -fx-font-family: Helvetica;
    -fx-text-fill: white;/**/
    -fx-stroke: black;
    -fx-stroke-width: 4; /**/
}

#taskGrid {
	-fx-background-color: rgba(255, 255, 255, 0.4);
}

#logScroll {
	-fx-background-color: transparent;
}

#logVbox {
	-fx-background-color: rgba(0, 0, 0, 0.5);
}

.button {
	-fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
}

.button-overdue {
    -fx-base: red;
}

.button-floating {
    -fx-base: #4B0082;
}

.button-todo {
    -fx-base: green;
}

.button-today {
    -fx-base: #FFD700;
}

.floating {
	-fx-background-color:#4B0082; /* #800000;*/
	-fx-text-fill: white;
	-fx-background-radius: 9,8,5,4;
}

.todo {
	-fx-background-color:#FFD700;
	-fx-background-radius: 9,8,5,4;
}

.deadline {
	-fx-background-color:green;
	-fx-text-fill:white;
	-fx-background-radius: 9,8,5,4;
}

.heading {
    -fx-font-family: Helvetica;
	-fx-color:#4E443C;
	-fx-font-weight: bold; 
}

.label-curved {
	-fx-background-color: white;
	-fx-border-color: #4E443C;
	-fx-border-width: 3;
	-fx-border-radius: 9,8,5,4;
    -fx-background-radius: 13,9,6,5;
}

.vbox-curved {
	-fx-border-color: #4E443C;
	-fx-border-width: 3;
	-fx-border-radius: 9,8,5,4;
    -fx-background-radius: 11,9,6,5;
	-fx-background-insets: 10;
}

.label-tags {
	-fx-background-insets: 0,1,4,5;
	-fx-background-color:pink;
	-fx-background-radius: 9,8,5,4;
	-fx-border-color: red;
	-fx-border-width: 3;
	-fx-border-radius: 9,8,5,4;
}


